html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  color: #000;
  font: 16px/1.5 "Main-Font", sans-serif;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;

  object-fit: cover;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

p,
h1,
h2 {
  margin: 0;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  display: inline-block;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  transition: opacity 0.5s ease-in;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

a {
  transition: opacity 0.5s ease-in;
}

button:hover,
button:focus,
a:hover,
a:focus {
  opacity: 0.5;
}

body {
  overflow-x: hidden;
  background-color: #e5e5e5;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.header {
  position: absolute;
  z-index: 3;
  min-width: 320px;
  width: 100%;
}

.header__wrap {
  position: absolute;
  z-index: 201;
  padding: 60px 11% 0;
  width: 99%;
  background: linear-gradient(to right, #272727 100%, transparent 0%) no-repeat;
  background-position: 100vw 0;
  transition: background-position 1s ease-in-out;
}

.header-open {
  background-position: 0 0;
  opacity: 0.9;
}

.header__logo {
  z-index: 200;
  min-width: 260px;
  max-width: 400px;
  width: 23%;
  height: 60px;
}

.header__logo a {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
}

.header__logo--black {
  background-image: url(../img/logo.svg);
}

.header__logo--white {
  background-image: url(../img/logo-foo.svg);
}

.header__menu {
  z-index: 200;
  padding: 16px 0 0 0;
  min-width: 260px;
  max-width: 400px;
  width: 23.3%;
}

.menu__profile {
  width: 53%;
  height: 50%;
}

.profile__item {
  display: flex;
  width: 20%;
}

.profile__button {
  width: 100%;
  height: 100%;
  background: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.profile__button--favorite {
  background-image: url(../img/Vector.svg);
}

.profile__button--auth {
  width: 100%;
  background-image: url(../img/Vector-1.svg);
}

.profile__button--cart {
  background-image: url(../img/Rectangle.svg);
}

.profile__button--cart::after {
  position: relative;
  left: 85%;
  color: white;
  content: "1";
  font-size: 18px;
  font-family: "Futura PT Light";
}

.menu__burger {
  position: relative;
  top: 3%;
  width: 11%;
  height: 36%;
}

.menu__burger span {
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 20px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transition-duration: 500ms;
}

.menu__burger span:nth-child(1) {
  top: 0px;
  left: 0px;
  background-color: white;
}

.menu__burger span:nth-child(2) {
  top: 50%;
  left: 0px;
  background-color: white;
  opacity: 1;
}

.menu__burger span:nth-child(3) {
  bottom: -2px;
  left: 0px;
  background-color: white;
}

.menu__burger:hover span:nth-child(1) {
  transform: rotate(-3deg) scaleY(1.1);
}

.menu__burger:hover span:nth-child(2) {
  transform: rotate(3deg) scaleY(1.1);
}

.menu__burger:hover span:nth-child(3) {
  transform: rotate(-4deg) scaleY(1.1);
}

.menu__burger:not(.open):hover span:nth-child(1) {
  transform: rotate(-3deg) scaleY(1.1);
}

.menu__burger:not(.open):hover span:nth-child(2) {
  transform: rotate(3deg) scaleY(1.1);
}

.menu__burger:not(.open):hover span:nth-child(3) {
  transform: rotate(-4deg) scaleY(1.1);
}

.menu__burger.open span:nth-child(1) {
  top: 13px;
  transform: rotate(45deg);
}

.menu__burger.open span:nth-child(2) {
  opacity: 0;
}

.menu__burger.open span:nth-child(3) {
  top: 13px;
  transform: rotate(-45deg);
}

.scroll-off {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.hidden-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
  padding: 134px 0 0 0;
  width: 100%;
  height: 100vh;
  background: #272727;
  transition: transform 1s ease-in-out;
  transform: translateX(100vw);
}

.hidden-menu__wrap {
  margin: 0 auto;
  max-width: 1900px;
}

.hidden-menu-active {
  transform: translateX(0);
}

.hidden-menu__nav {
  position: relative;
  padding: 0 0 40px 0;
  min-height: 420px;
  width: 100%;
  height: 54%;
}

.hidden-menu__nav:after {
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 70%;
  border-bottom: 1.8px solid #2f2f2f;
  content: "";
}

.nav__list {
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding: 0 14.3% 0 11%;
  width: 100%;
  background: #2f2f2f;
}

.nav__item {
  position: relative;
  display: inline-block;
  padding: 25px 10px 0 0;
  height: 100%;
  border-bottom: 1.8px solid transparent;
  text-align: center;
  transition: border 0.5s ease-in;
}

.nav__link:focus {
  border-bottom: 1.8px solid #ffffff;
  content: "";
}

.nav__link {
  display: block;
  padding: 0 0 25px 0;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 450;
  font-size: 16px;
  font-family: "Futura PT Light";
  line-height: 21px;
}

.nav__sublist {
  position: absolute;
  top: 141px;
  display: flex;
  justify-content: space-between;
  min-width: 700px;
  max-width: 1600px;
  width: 56vw;
}

.nav__subitem:not(:last-child) {
  max-width: 132px;
}

.nav__sublink {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-size: 16px;
  font-family: "Futura PT Normal";
  line-height: 21px;
}

.nav__sub-sublist {
  padding: 30px 0 0 0;
}

.nav__sub-subitem:not(:first-child) {
  padding: 13px 0 0 0;
}

.nav__sub-sublink {
  color: #ffffff;
  letter-spacing: 0.06em;
  font-size: 18px;
  font-family: "Futura PT Light";
  line-height: 23px;
}

.nav__sub-sublink--gold {
  color: #efc58b;
  font-size: 16px;
  font-family: "Segoe UI";
  line-height: 21px;
}

.hidden-menu__menu-footer {
  padding: 65px 12% 0;
  min-height: 300px;
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  height: 38%;
}

.new-collection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 30px;
  width: 67%;
  background-image: url(../img/menuimg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.new-collection__title {
  color: #ffffff;
  text-align: left;
  letter-spacing: 0.06em;
  font-size: 18px;
  font-family: "Futura PT Light";
  line-height: 23px;
}

.new-collection__desc {
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 48px;
  font-family: "Forum";
  line-height: 53px;
}

.new-collection__see {
  padding: 0 70px 0 0;
  background-image: url(../img/Line.svg);
  background-position: right;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: right;
  letter-spacing: 0.06em;
  font-size: 18px;
  font-family: "Futura PT Light";
  line-height: 23px;
}

.menu-contacts__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
}

.menu__phone h2 {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 14px;
  font-family: "Futura PT Light";
  line-height: 18px;
}

.menu__phone a {
  display: inline-block;
  padding: 15px 0 0 0;
  color: #c2c2c2;
  font-size: 18px;
  line-height: 23px;
}

.menu__social {
  padding: 14px 0 0 0;
}

.menu__news-subscribe {
  width: 100%;
}

.main-screen {
  position: relative;
  overflow: hidden;
  padding: 0 11% 20px;
  width: 100%;
  height: 100vh;
}

.main-screen__label {
  padding: 42vh 0 6vh;
  min-height: 540px;
  width: 42.5%;
  height: 100vh;
}

.main-screen__text {
  position: relative;
  max-width: 900px;
}

.main-screen__title {
  padding: 0 0 60px 0;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: calc((100vw - 480px) / 800 * (62 - 54) + 54px);
  font-family: "Forum";
}

.main-screen__title a {
  color: #272727;
}

.main-screen__desc {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
  letter-spacing: -0.02em;
  font-size: calc((100vw - 480px) / 800 * (18 - 16) + 16px);
  font-family: "Segoe UI";
}

.main-screen__desc::before {
  position: absolute;
  right: 119%;
  bottom: 10px;
  display: block;
  width: 70%;
  height: 1px;
  background-color: #272727;
  content: "";
}

.main-screen__desc a {
  color: #272727;
}

.language-change__button {
  color: #c4c4c4;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 16px;
  font-family: "Futura PT Normal";
  line-height: 21px;
}

.language-change__item {
  display: inline-block;
}

.language-change__button:not(:last-child) {
  padding: 0 5px 0 0;
}

.language-change__button--selected {
  color: #272727;
}

.main-screen__flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-screen__product {
  position: relative;
  padding: 41.5vh 0 6vh 0;
  min-height: 540px;
  width: 49%;
}

.main-screen__product::after {
  position: absolute;
  top: 0;
  left: 27%;
  width: 50vw;
  height: 100vh;
  background-color: #272727;
  content: "";
}

.product__img {
  z-index: 2;
  display: block;
  width: 59%;
}

.product__props {
  z-index: 2;
  text-align: right;
}

.product-title {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 16px;
  font-family: "Futura PT Normal";
  line-height: 21px;
}

.product__title {
  text-align: right;
}

.product-desc {
  color: #c2c2c2;
  letter-spacing: -0.03em;
  font-size: 18px;
  font-family: "Futura PT Normal";
  line-height: 23px;
}

.product__desc {
  padding: 10px 0 0 0;
}

.product-price {
  color: #efc58b;
  letter-spacing: 0.03em;
  font-size: 18px;
  font-family: "Segoe UI";
  line-height: 24px;
}

.product__price {
  z-index: 2;
  padding: 7px 0 0 0;
}

.shop {
  padding: 20px 0 0;
  max-height: 100vh;
}

.shop__block {
  display: block;
  width: calc(50% - 10px);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.shop__block--man {
  background-image: url(../img/forman.png);
}

.shop__block--woman {
  background-image: url(../img/forwoman.png);
}

.shop__desc {
  padding: 32% 0 0;
  color: #ffffff;
  font-size: calc((100vw - 480px) / 800 * (24 - 14) + 14px);
  font-family: "Futura PT Light";

  user-select: none;
}

.shop__title {
  position: relative;
  margin: 0 auto;
  padding: 0 0 36% 0;
  width: 66%;
  color: #ffffff;
  letter-spacing: 0.03em;
  font-size: calc((100vw - 480px) / 800 * (62 - 44) + 44px);
  font-family: "Forum";
  line-height: 70px;

  user-select: none;
}

.shop__title::after {
  position: absolute;
  top: 28%;
  left: calc(50% - 131px / 2);
  display: inline-block;
  width: 131px;
  height: 1px;
  background-color: #ffffff;
  content: "";
}

.location {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width: 100%;
  background-color: #272727;
}

.location__find {
  display: flex;
  align-items: center;
  width: 49%;
}

.location__form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 24% 161px 24% auto;
  width: 55%;
}

.location__title {
  color: #ffffff;
  letter-spacing: 0.03em;
  font-size: calc((100vw - 480px) / 800 * (48 - 44) + 44px);
  font-family: "Forum";
  line-height: 53px;
}

.location__desc {
  display: inline-block;
  padding: 20px 0 52px;
  color: #ffffff;
  font-size: calc((100vw - 480px) / 800 * (18 - 16) + 16px);
  font-family: "Futura PT Light";
  line-height: 23px;
}

.location__input {
  display: block;
  height: 42px;
  outline: none;
  border: none;
  border-bottom: 1.8px solid #ffffff;
  background: none;
  color: white;
  letter-spacing: 1px;
  font-size: 16px;
}

input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 0em;
  font-size: 18px;
  font-family: "Futura PT Light";
}

input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-size: 18px;
  font-family: "Futura PT Light";
}

.location__button {
  position: absolute;
  top: 88%;
  right: -1%;
  width: 28px;
  height: 15px;
  background: url(../img//Line.svg) no-repeat;
  background-size: contain;
}

.location__map {
  display: inline-block;
  width: 51%;
  background: url(../img/map.png) no-repeat;
  background-size: cover;
}

.goods {
  display: grid;
  margin: 20px auto;

  gap: 20px;
  grid-template-columns: 27.5% auto 27.5%;
}

.goods__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 25px 15px;
  max-height: 1000px;
  background-color: #ededed;
}

.goods__item--main {
  padding: 0;
}

.goods__item--1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.goods__item--2 {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column-reverse;

  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.goods__item--2 .goods__props {
  position: absolute;
  bottom: 2%;
  left: 5%;
}

.goods__item--2 .goods__img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.goods__item--2 .goods__img img {
  height: 100%;
}

.goods__item--3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.goods__item--4 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.goods__item--5 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.goods__img {
  font-size: 0;
}

.goods__props {
  padding: 40px 0 0 0;
  width: 100%;
}

.product-title--black {
  color: #272727;
}

.product-desc--black {
  color: #757575;
}

.goods__desc {
  margin: 12px 0 5px;
}

.goods__price--darkgold {
  color: #e2b67a;
}

.social-net {
  margin: 20px 0 0;
  width: 100vw;
  height: 886px;
}

.feedback {
  max-height: 100vh;
  height: 44.5vw;
}

.feedback__bg {
  overflow: hidden;
  width: 49%;
  background: url(../img/footerbg.png) no-repeat;
  background-position: top center;
  background-size: cover;
}

.feedback__flex {
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
}

.feedback__block {
  margin: 6px 0 0 0;
  width: 51%;
  height: 44%;
}

.feedback__contacts {
  min-width: 50%;
}

.feedback__title {
  margin: 0 0 30px 0;
  color: #272727;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: calc((100vw - 480px) / 800 * (18 - 16) + 16px);
  font-family: "Futura PT Light";
  line-height: 23px;
}

.feedback__tel {
  color: #959595;
  font-size: 22px;
  font-family: "Futura PT Light";
  line-height: 28px;
}

.feedback__form {
  position: relative;
  display: inline-block;
  min-width: 50%;
}

.feedback__label {
  display: inline-block;
  margin: 0 0 30px 0;
  color: #272727;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 18px;
  font-family: "Futura PT Light";
  line-height: 23px;
}

.feedback__input {
  display: block;
  width: 78%;
  height: 38px;
  outline: none;
  border: none;
  border-bottom: 1.8px solid #272727;
  background: none;
  color: #959595;
  letter-spacing: 1px;
  font-size: 16px;
}

.feedback__input::-webkit-input-placeholder {
  color: #959595;
  font-size: 22px;
  font-family: "Futura PT Light";
  line-height: 15px;
}

.feedback__input:-moz-placeholder {
  color: #959595;
  font-size: 22px;
  font-family: "Futura PT Light";
}

.feedback__button {
  position: absolute;
  top: 67%;
  right: 21%;
  width: 30px;
  height: 18px;
  background: url(../img//Line-black.png) no-repeat;
  background-size: contain;
}

.footer {
  background: #272727;
}

.footer__wrap-container {
  margin: 0 auto;
  padding: 80px 10px;
  max-width: 1135px;
}

.footer__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__specialty {
  padding: 0 0 80px;
}

.specialty {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.specialty__link {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-size: 14px;
  font-family: "Futura PT Light";
  line-height: 18px;
}

.footer__logo {
  margin: 23px 0 0 0;
  font-size: 0;
}

.contatcs__wrap {
  display: flex;
  justify-content: space-between;
  width: 49%;
}

.footer__contacts {
  padding: 5px 0 0 0;
}

.footer__phone h2 {
  padding: 0 0 16px 0;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 14px;
  font-family: "Futura PT Light";
  line-height: 18px;
}

.footer__phone a {
  color: #c2c2c2;
  font-size: 18px;
  font-family: "Futura PT Light";
  line-height: 23px;
}

.footer__social {
  padding: 14px 0 0 0;
}

.social__item {
  display: inline-block;
}

.social__item:not(:last-child) {
  padding: 0 15px 0 0;
}

.social__link {
  display: inline-block;
  width: 35px;
  height: 35px;
}

.social__link--facebook {
  background: url(../img/Facebook.svg) no-repeat;
}

.social__link--instagram {
  background: url(../img/Instagram.svg) no-repeat;
}

.footer__news-subscribe {
  padding: 3px 0 0 0;
  width: 52%;
}

.news-subscribe__form {
  position: relative;
}

.feedback__fieldset {
  position: relative;
  padding: 0;
  width: 100%;
  border: none;
}

.news-subscribe__label {
  display: inline-block;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 14px;
  font-family: "Futura PT Light";
  line-height: 18px;
}

.news-subscribe__input {
  display: block;
  width: 100%;
  height: 46px;
  outline: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  background: none;
  color: white;
  letter-spacing: 1px;
  font-size: 16px;
}

.news-subscribe__input::-webkit-input-placeholder {
  color: #c2c2c2;
  font-size: 18px;
  font-family: "Futura PT Light";
}

.news-subscribe__input:-moz-placeholder {
  color: #c2c2c2;
  font-size: 18px;
  font-family: "Futura PT Light";
}

.news-subscribe__button {
  position: absolute;
  top: 58%;
  left: 89%;
  width: 30px;
  height: 18px;
  background: url(../img/Line.svg) no-repeat;
  background-size: contain;
}

.news-subscribe__app {
  padding: 16px 0 0 5px;
}

.app-list {
  display: flex;
  align-self: center;
}

.app-list__item {
  display: inline-block;
}

.app-list__item:not(:last-child) {
  padding: 0 9px 0 0;
}

.app-list__link {
  display: inline-block;
  height: 29px;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0;
}

.app-list__link--apple {
  width: 90px;
  background-image: url(../img/apple.png);
}

.app-list__link--google {
  width: 103px;
  background-image: url(../img/google.png);
}
